
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcccb;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #ffffff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


img {
    border: 3px solid #ccc;
    margin: 10px;
    width: 200px;
    height: auto;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}